<a href="https://colab.research.google.com/github/brandonliu12/nfl-qb-prediction/blob/main/Project_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**BREES vs. BRADY**

Import libraries, read files, and clean it further

In [84]:
import pandas as pd
path = 'NFL Play by Play 2009-2018 (v5).csv'
df = pd.read_csv(path)

<ipython-input-84-ccba17b4f44b>:3: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,231,232,233,238,240,241) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [85]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
df['passer_player_name_encoded'] = encoder.fit_transform(df['passer_player_name'])

In [87]:
relevant_columns = ['yardline_100','game_seconds_remaining','qtr', 'down', 'air_yards', 'pass_attempt',
                     'complete_pass', 'ep', 'air_epa', 'passer_player_name_encoded', 'pass_length', 'pass_location', 'score_differential_post']

# Select the data using the relevant columns
df_selected = df[relevant_columns]

# Get list of categorical columns
categorical_cols = df_selected.select_dtypes(include=['object']).columns

# Create dummy variables for all categorical columns
df_dummies = pd.get_dummies(df_selected[categorical_cols])

# Combine original numerical data with dummy variables
df_combined = pd.concat([df_selected.select_dtypes(include=[np.number]), df_dummies], axis=1)

df_combined = df_combined.fillna(0)

df_combined.head()

,yardline_100,game_seconds_remaining,qtr,down,air_yards,pass_attempt,complete_pass,ep,air_epa,passer_player_name_encoded,score_differential_post,pass_length_deep,pass_length_short,pass_location_left,pass_location_middle,pass_location_right
0,30.0,3600.0,1,0.0,0.0,0.0,0.0,0.323526,0.000000,118,0.0,0,0,0,0,0
1,58.0,3593.0,1,1.0,-3.0,1.0,1.0,2.338000,-0.938735,13,0.0,0,1,1,0,0
2,53.0,3556.0,1,2.0,0.0,0.0,0.0,2.415907,0.000000,118,0.0,0,0,0,0,0
3,56.0,3515.0,1,3.0,34.0,1.0,0.0,1.013147,3.412572,13,0.0,1,0,0,0,1
4,56.0,3507.0,1,4.0,0.0,0.0,0.0,-0.699436,0.000000,118,0.0,0,0,0,0,0

In [88]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

# Define target variable
target = df_combined['air_yards']

# Define features
features = df_combined.drop('air_yards', axis=1)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [89]:
# Create a decision tree classifier object
decision_tree = DecisionTreeClassifier(random_state=42)

# Train the model using the training sets
decision_tree.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = decision_tree.predict(X_test)

In [90]:
from sklearn.metrics import accuracy_score

# Calculate Accuracy Score
accuracy = accuracy_score(y_test, y_pred)

print(f"Model accuracy: {accuracy}")

Model accuracy: 0.7561302287245003